.heading-login {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.h2-login {
    font-size: bold;
    text-align: center;
    font-style: italic;
    margin-top: 50px;
    mar
}

.p-login {
    text-align: center;
    font-size: 13px;
    
}