.signup-container {
  max-width: 400px;
  margin: 40px auto ;
  padding: 2rem;
  text-align: center;
  background-color: #151f2e95;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-button {
  padding: 0.75rem;
  background-color: #0a84ff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #006fd6;
}

.error-text {
  color: red;
  font-size: 0.875rem;
}

.signup-link {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.signup-link a {
  color: #0a84ff;
  text-decoration: none;
}

.signup-link a:hover {
    color: red;
}

svg {
    b
}
