.info-card {
  display: flex;
  align-items: center;
  background: #ffffff;
  padding: 20px ;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  gap: 16px;
  transition: transform 0.3s ease;
}

.info-card:hover {
  transform: translateY(-5px);
}

.icon-box {
  width: 48px;
  height: 48px;
  background-color: #f0f4ff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px;
  color: #4a90e2;
}

.info-text {
  display: flex;
  flex-direction: column;
}

.info-label {
  font-size: 14px;
  color: #666;
  margin: 0;
}

.info-value {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
